/* -------- */
/* base */
/* -------- */
*,*:before,*:after{
  box-sizing:border-box;
}
html{
  font-size: 62.5%;
}
body{
  font-size: 1.6rem;
  letter-spacing: .05em;
  color: #333;
  font-family: 'Montserrat','Noto Sans JP',sans-serif;
}
img{
  width: 100%;
  vertical-align: bottom;
}
a{
  display: block;
  &:hover{
    opacity: .7;
    transition: .3s;
  }
}
li{
  list-style-type: none;
}
button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}
/* buttonタグのリセット。*/
.section{
  &-wrapper{
    padding: 60px 0 ;/* セクションの外枠に上下の余白だけつける */
  }
  &-title{
    margin-bottom: 30px;
    font-size: 3.2rem;
    font-weight: bold;
  }
  &-text{
    line-height: 2;
  }
}

.inner{
  max-width: 1100px;
  width: 100%;
  margin: auto;
  padding: 0 20px;
}

.link-btn{
  display: block;
  margin: auto;
  width: 160px;
  line-height: 36px;
  background-color: #000;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}


